/* Reset */
* {
    margin: 0.0;
    padding: 0.0;
    box-sizing: border-box;
  }
  
  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;

    line-height: 1.6;
    background-color: #f9f9f9;
    
  }
  
  .header {
    background: #fff;
    padding: 20px 40px;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar .nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 90vh;
    background: #f1f1f1;
  }
  
  .hero-content h1 {
    font-size: 2.5rem;
    font-weight: 600;
    margin-bottom: 10px;
    color: #333;
  }
  
  .hero-content p {
    margin-bottom: 20px;
    font-size: 1.2rem;
    color: #666;
  }
  
  .btn-primary {
    display: inline-block;
    padding: 10px 20px;
    background: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
  }
  
  .services, .about, .footer {
    padding: 60px 20px;
    text-align: center;
    background: #fff;
  }
  
  h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  p {
    color: #666;
  }
  
  .service-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
  }
  
  .service-item {
    background: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 300px;
  }
  
  .footer {
    background: #333;
    
  }
  .about {
    position: relative;
    height: 90vh; /* Define a altura da seção */
    background: url('./imgs/2024-02-23.jpg') no-repeat center/cover; /* Caminho da imagem */
  }
  
  .about::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Fundo escuro semi-transparente */
    z-index: 1;
    color: white;
  }
  
  .about-content {
    position: relative;
    z-index: 2; /* Coloca o texto acima da camada escura */
    text-align: center;
    color: white; /* Texto branco */
    padding: 20px;
  }
  
  .about h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: white; /* Texto branco */
  }
  
  .about p {
    font-size: 1.2rem;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    color: white; /* Texto branco */
  }
  
  
  .contact {
    padding: 60px 20px;
    text-align: center;
    background-color: #232935;
}

.contact h2 {
    margin-bottom: 20px;
    color: #f3f3f3;
}

.contact p {
    color: #D3D3D3;
}

/* Rodapé */
.footer {
    text-align: center;
    padding: 20px;
    background-color: #1E212B;
    color: #FFFFFF;
}